footer{
    width: 1440px;
    height: 504px;
    background: #000000;
    color: #FFFFFF;
}
.footer-all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding: 104px 160px;
}
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 113px;
    width: 1120px;
    height: 256px;
}
.footer-media{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-logo-text{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 384px;
    height: 94.87px;
}
.footer-logo-text > h2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 65.4px;
    height: 22.87px;
}
.footer-logo-text > p{
    font-size: 14px;
    line-height: 170.5%;
    color: #CFCFCF;
    width: 384px;
    height: 48px;
}
.footer-navigation {
    display: flex;
    flex-direction: row;
    gap: 24px;
    height: 504px;
}
.footer-column{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 295.5px;
    height: 256px;
}
.footer-column > h3 {
    font-weight: 600;
    font-size: 16px;
}
.footer-column > ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 295.5px;
    height: 232px;
    font-weight: 400;
    font-size: 14px;
    color: #CFCFCF;
}
.footer-column > ul > li > a {
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    color: #CFCFCF;
}
.footer-media{
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 173px;
    height: 16px;
}
.footer-media > button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}