header {
    border-bottom: 1px #B5B5B5 solid;
    height: 88px;
    width: 1440px;
    display: flex;
    justify-content: center;
}
.header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 160px;
    gap: 32px; 
}

.search-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F5F5F5;
    border-radius: 8px;
    padding-left: 4px; 
    gap: 8px;
    width: 372px; 
    height: 56px;  
}
.search-bar > input{
    border: none;
    background: #F5F5F5;  
    color: #656565;
    font-size: 14px; 
    font-weight: 500; 
    opacity: 0.5;
    width: 372px; 
    height: 56px;
}

.seacrh-icon{
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 24px; 
    height: 24px;
}
.header-navigation { 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px; 
    width: 369px; 
    height: 19px;
}
.Home{
    color: #000000; 
    font-size: 16px; 
    font-weight: 500;
}
.NotHome{
    color: #000000; 
    font-size: 16px; 
    font-weight: 500;
    opacity: 0.3;
}
.header-icons {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 24px;
    width: 144px;
    height: 32px;
}