body {
    font-family: Inter;
    font-style: normal;
}
a {
    text-decoration: none;
    cursor: pointer;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 880px;
}
.main-info{
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 48px;
    width: 1120px;
    height: 656px;

}
.cart {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 536px;
    height: 556px;
}

.cart h2 {
    font-weight: 600;
    font-size: 24px;
}
.products{
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 492px;
}
.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 0px 32px;
    gap: 15px;
    height: 138px;
    border-bottom: 0.5px solid #A3A3A3;
}

.item img {
    width: 90px; 
    height: 90px;
}
.item-description{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px;
    row-gap: 8px;
    width: 431px;
    height: 80px;
}
.item-title {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 8px;
    width: 191px;
    height: 80px;
}
.item-title h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.item-title p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.item-quantity-and-price{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 240px;
    height: 32px;
}
.item-quantity {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
}
.item-quantity button {
    border: none; 
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
.item-quantity input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    width: 8px;
    height: 16px;
    border: 0.5px solid #D9D9D9;
    border-radius: 4px;
    font-size: 16px;
}
.item-quantity-and-price > p {
    width: 64px;
    height: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.03em;
}
.remove-item {
    background: none;
    border: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
}
.order-summary {
    display: flex;
    flex-direction: column;
    padding: 56px 64px;
    gap: 40px;
    width: 536px;
    height: 550px;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
}
.order-summary h2 {
    font-weight: 700;
    font-size: 20px;
}
.summary-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}
.summary-form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.summary-fields {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.summary-field-discount {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 408px;
    height: 80px;
}
.summary-field-discount > label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 16px;
    color: #545454;
}
.summary-field-discount > input {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding-top: 16px; 
    padding-bottom: 16px; 
    padding-left: 16px; 
    background: white; 
    border-radius: 7px; 
    border: 0.50px #9F9F9F solid; 
    width: 408px; 
    height: 56px; 
}
.summary-field-bonus { 
    display: flex;
    flex-direction: column; 
    gap: 8px; 
    width: 408px; 
    height: 88px;
}
.summary-field-bonus > label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #545454;
}
.summary-field-bonus > div {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 16px; 
    border-radius: 7px; 
    border: 0.50px #9F9F9F solid; 
    width: 395px; 
    height: 64px;
}
.summary-field-bonus > div > input {
    flex: 1 1 0; 
    color: #979797; 
    width: 299.55px;
    font-size: 14px; 
    font-weight: 400; 
    border: transparent;
}
.summary-field-bonus > div > button {
    display: flex;
    align-items: center; 
    justify-content: center;  
    padding: 8px; 
    border-radius: 6px; 
    border: 1px black solid; 
    background-color: #FFFFFF;
    gap: 8px; 
    width: 76.45px; 
    height: 32px;
}
.summary-prices {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 408px;
    height: 168px;
}

.summary-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 67px;
    width: 408px;
    height: 32px;
}

.summary-taxes{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 408px;
    height: 72px;
}
.summary-tax{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    width: 408px;
    height: 32px;
}
.tax-title{
    display: flex;
    align-items: flex-end;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    color: #545454;
    width: 376px;
    height: 32px;
}
.checkout-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 56px;
    gap: 8px;
    width: 408px;
    height: 56px;
    background: #000000;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
}
